@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

html {
  font-family: "Bebas Neue", "Helvetica Neue", Helvetica, Arial, sans;
  box-sizing: border-box;
  background-color: rgb(57, 67, 78);
  font-size: 16;
}
main {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
}
* {
  color: white;
  margin: 0;
  padding: 0;
}
h1 {
  text-transform: uppercase;
  font-size: 5rem;
}
h2 {
  margin-top: 15px;
  font-size: 3rem;
}
p {
  font-size: 1.5rem;
}
br {
  margin: 7px 0 7px 0;
}
input {
  color: black;
}
.submit {
  color: black;
  padding: 5px;
}
button {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 2px 2px 2px black;
}
button:hover {
  background-color: rgb(194, 194, 194);
  margin: 2px;
  padding: 13px;
  box-shadow: 1px 1px 1px rgb(56, 56, 56);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

#val1 {
  text-align: center;
  height: 50px;
  width: 50px;
  border: 5px solid black;
  border-radius: 10px;
}
#val2 {
  text-align: center;
  height: 50px;
  width: 50px;
  border: 5px solid black;
  border-radius: 10px;
}
#val3 {
  text-align: center;
  height: 50px;
  width: 50px;
  border: 5px solid black;
  border-radius: 10px;
}
#val4 {
  text-align: center;
  height: 50px;
  width: 50px;
  border: 5px solid black;
  border-radius: 10px;
}
